<div class="row"> 
	<div class="panel panel-default col-sm-12 col-xs-12 ">
	    <div class="panel-heading">
	        <h3 class="panel-title text-center contact-title">Contact Details</h3>
	    </div>
	    <div class="panel-body" style="background-image: url(assets/images/Whitebackgroundwithcolorfulconfetti10173061.jpg);"> 
			<div class="col-sm-4 col-xs-4 col-sm-push-4 col-xs-push-4">
				<div class="thumbnail">
			      <img [src]="image" class=" img-responsive img-circle img-responsive" [alt]="noImageUrl" width="50%" height="50%">
			      <div class="row">
			      	<div class=" col-sm-12 col-xs-12">
			        <h5 style="font-weight: bold;"></h5>
			        <!-- <p>...</p> -->
			        
			      </div>
			      </div>
			      
			    </div>
			    <div class="row" style="background-color: white">
			    	<div  >
			    		<label class="control-label col-xs-4 col-sm-4">Name</label>
			    		<label class = "control-label col-xs-8 col-sm-8">Nishchith J Bangar</label>
			    	</div>
			    	<div  >
			    		<label class="control-label col-xs-4 col-sm-4">Email</label>
			    		<label class = "control-label col-xs-8 col-sm-8">nishi.bangar@gmail.com</label>
			    	</div>
			    	<div  >
			    		<label class="control-label col-xs-4 col-sm-4">Phone</label>
			    		<label class = "control-label col-xs-8 col-sm-8">9999999999</label>
			    	</div>
			    	<div  >
			    		<label class="control-label col-xs-4 col-sm-4">LinkedIn</label>
			    		<label class = "control-label col-xs-8 col-sm-8">https://www.linkedin.com/in/nishchith-bangar-49a07899</label>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div>