<div class="row"> 
		<div class="col-sm-12 col-xs-12" style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">	
			<h3 class='text-center'>
				Who Are We ?
			</h3>
			<p>
				Lives can be transformed through a wide range of events taking place, so we make it our business to ensure that it is easy for people to volunteer to get involved with public events, and that our Event Volunteers get the most out of their participation. 
			</p>
			<p>
				If you're looking for a fantastic summer festival volunteering experience, you can apply to volunteer at festivals and events with <span style="font-weight: bold">"JOINING HANDS"</span> events !

				We work closely with festival and event organisers; each year offering thousands of people the chance to enjoy some of the best festivals in the UK in exchange for volunteering some of their time!

				Our festival and event volunteers play a big part in creating a good atmosphere and helping the event goers to get the most out of their events. By joining our team you can help us to continue to achieve this!
			</p>
			<p>

				Our events are colorful, lively and always a lot of fun.

				Each event is unique - you could find yourself helping set up, selling merchandise or welcoming attendees at one of our more formal, signature events.
			

				Whatever your role, you'll be surrounded by a wonderful volunteer community who are friendly, warm and love meeting new people.

				Volunteers are essential to the success of our fundraising events and functions - we couldn't do it without you.
			</p>

			<p>
				We work tirelessly to make sure that each and every festival and event volunteer who works with us has a great time and really enjoys their volunteering experience! 

				Volunteering with us is an opportunity to put your skills to use in one of the most diverse communities in the country. You will have the chance to develop new skills, meet new people and be a part of some of the biggest events.
			</p>

			<p>
				In all cases food and refreshments will be provided at the venue for Event Volunteers. Additional recognition can be found for each event on our web site. Each event also has some other fantastic freebies for our Event Volunteers such as free tickets, T-shirts and other useful nice things that we know Event Volunteers like.

				You can volunteer with friends as long as you and your friends have completed an online application form and been accepted as Event Volunteers.  We will, possibly try to place you in a group with friends. 
			</p>
		</div>
	</div>