
<div class="container-fluid"> <!-- [style.background]="'url('+ bgImage +')'" -->
	<div class = "box">
		<carousel [interval]="myInterval" [noWrap]="noWrapSlides" [noPause] = "noPauseSlides">
			<slide *ngFor="let slide of carouselSlides; let index=index">
			    <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
			 
			    <div class="carousel-caption">
			      <h2>{{slide.title}}</h2>
			      <h5>{{slide.text}}</h5>
			    </div>
			 </slide>
		</carousel>
	</div>
	<div [ngClass]="'bgimg-1'" >
		<div class="caption">
			<span class = "border">
				Join Hands With Us In Creating A History.
			</span> 
		</div>
	</div>

	
	<form>
		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<div class="form-group ">
					<label>First Name</label>
					<input type="text" class = "form-control  " [(ngModel)] = "vol.firstName" name="firstName">
				</div>	
			</div>

			<div class="col-sm-6 col-xs-6">
				<div class="form-group">
					<label>Last Name</label>
					<input type="text" class = "form-control  " [(ngModel)] = "vol.lastName" name="lastName">
				</div>	
			</div>	
		</div>

		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<label>Address</label>
				<div class="row">
					<div class="form-group col-sm-12 col-xs-12 ">
						<label>Country</label>
						<input type="text" class = "form-control  " [(ngModel)] = "vol.address.country" name="country">
					</div>	
				</div>
				<div class="row">
					<div class="form-group col-sm-12 col-xs-12 ">
						<label>State</label>
						<input type="text" class = "form-control  " [(ngModel)] = "vol.address.state" name="state">
					</div>	
				</div>
				<div class="row">
					<div class="form-group col-sm-7 col-xs-7">
						<label>City</label>
						<input type="text" class = "form-control  " [(ngModel)] = "vol.address.city" name="city">
					</div>	
					<div class="form-group col-sm-5 col-xs-5">
						<label>Zip</label>
						<input type="text" class = "form-control  " [(ngModel)] = "vol.address.zip" name="zip">
					</div>	
				</div>
			</div>

			<div class="col-sm-6 col-xs-6 ">
				<div class="form-group ">
					<label>Gender</label> <br><br>
					<label class="radio-inline">
						<input type="radio" value = "male" class = "" [(ngModel)] = "vol.gender" name="gender"> Male
					</label>
					<label class="radio-inline">
						<input type="radio" value = "female" class = "" [(ngModel)] = "vol.gender" name="gender"> Female
					</label>
					<label class="radio-inline">
						<input type="radio" value = "other" class = "" [(ngModel)] = "vol.gender" name="gender"> Other
					</label>					
				</div>	
			</div>	
		</div>

		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<div class="form-group ">
					<label>Email</label>
					<input type="email" class = "form-control  " [(ngModel)] = "vol.email" name="email">
				</div>	
			</div>

			<div class="col-sm-6 col-xs-6">
				<div class="form-group">
					<label>Telephone No.</label>
					<input type="text" class = "form-control  " [(ngModel)] = "vol.telephone" name="telephone">
				</div>	
			</div>	
		</div>

		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<div class="form-group  ">
					<label>Skills</label>
					<div class="row  " *ngFor="let skill of vol.skills">
						 
							<label class="control-label checkbox-inline" style = "margin-left: 16px;">
								<input type="checkbox" class = "" [(ngModel)] = "skill.selected" name="skill"> 
								&nbsp;&nbsp;
								{{skill.name}}
							</label>
							 
						 
					</div>
				</div>	
			</div>

			<div class="col-sm-6 col-xs-6">
				<div class="form-group">
					<label>Comments and other relevant experiences</label>
					<textarea class = "form-control no-resize " rows="9" [(ngModel)] = "vol.experience" name="experience">

					</textarea> 
				</div>	
			</div>	
		</div>

		<div class="row text-center">
			<button type="button" class="btn btn-success" (click) = "addVolunteer(vol)">
				Submit
			</button>
		</div>

		
	</form>


	<button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>
<br><br>
<pre>{{message}}</pre>
	<ng-template #template>
	  <div class="modal-body text-center">
	    <p>Do you want to confirm?</p>
	    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>  
	    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
	  </div>
	</ng-template>
</div>

<div class="container-fluid videoContainer">
	<!-- <div class="row" style="background-color: #101010">
		<div class="col-sm-12 col-xs-12">
			<iframe width="560" height="315" [src] ="safeUrl"  allowfullscreen
				style = "border-color: black;"></iframe>
		</div>
	</div> -->
	<!-- Copy & Pasted from YouTube -->
    <iframe width="560" height="349" [src] ="safeUrl"frameborder="0" frameborder="0" allowfullscreen></iframe>
	
</div>


  
 
 